.page-notes-edit textarea {
  border: none;
  height: 800px;
}

.page-notes-index h1 {
  margin-top: 0;
}

.notes-actions .btn-secondary {
  margin-right: 10rem;
}

.notes-blurbs {
  margin-top: 8rem;
}

.notes-blurbs li {
  display: flex;
  position: relative;
  margin: 4rem 0;
}

textarea.collection-post-edit
{
  height: 352px;
  border: 1px solid #D0D0D0;
  background: white;
  resize: none;
  padding: 4rem;
}

textarea.comment-edit
{
  border: none;
  resize: none;
  padding: 2rem;
  height: 24rem;
  width: 80%;
  border: 1px solid #aaa;
}

.create-comment .usership
{
  color: #000;
}

.create-comment button
{
  margin-left: calc(2rem + 18px);
}

ul.comments
{
  padding-left: 0;
}

ul.comments > li
{
  padding-left: 0;
}

div.coll-title
{
  font-size: 6rem;
}
div.mod
{
  font-size: 6rem;
}

.collection-index li.forum .meta-cont > div
{
  float: left;
}

.collection-index li.notes .da {
  position: absolute;
  margin-left: -12rem;
  margin-top: 1rem;
}

.collection-index .note-uuid {
  font-weight: inherit;
}

.collection-index img {
  width: 100%;
}

.collection-index ul {
  list-style-type: none;
}

.post img {
  width: 100%;
}

.post #edit
{
  display: none;
}

/**/

.collection-date {
  font-family: "Source Code Pro", "Roboto mono", "Courier New", monospace;
  font-weight: 300;
  font-size: 3rem;
  line-height: 5rem;
}

.collection-title {
  position: relative;
}

.collection-post::before, .collection-title::before {
  content: "";
  background-color: #6FDC74;
  border-radius: 100%;

  width: 4px;
  height: 4px;

  position: absolute;
}

.collection-post::before {
  margin-top: 30px;
  margin-left: -18px;
}

.collection-title::before {
  margin-top: 22px;
  margin-left: -10rem;
}

.collection-edit::before {
  margin-left: -11rem;
}

.collection-post-page {
  padding-top: 12rem;
}

.collection-comment {
  margin-bottom: 11rem;
  position: relative;
}

.collection-comment-avatar {
  position: absolute;

  left: -12rem;
  top: 7px;

  width: 32px;
  height: 32px;
}

.collection-comment-author {
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  font-weight: 600;
  float: left;
}

div.icon-comment
{
  float: left;
  display: inline-block;
}

div.comment-count
{
  display: inline-block;
  margin-top: -3px;
}

.comment-time
{
  float: left;
}

div.comment-sigil
{
  float: left;
  display: inline-block;
}

div.author-time-container
{
  display: inline-block;
  margin-top: -3px;
}

.collection-post-actions {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
