.collection-create .input-group-focused,
.collection-create .input-group-focused input,
.collection-create .input-group-focused textarea {
  background-color: #F6F6F6;
}

.collection-create .input-group-error-message {
  display: none;
}

.collection-create .input-group-error * {
  color: #EE3124;
}

.input-group-error input::placeholder {
  color: #EE3124;
}

.collection-create .input-group-error .input-group-error-message {
  display: block;
}

.collection-create .btn-text {
  padding-left: 3rem;
  padding-right: 3rem;
}

.collection-create .btn-text:focus span:nth-child(1) {
  text-decoration: underline;
}
