/***
  Command Menu
***/

.command-page {
  margin-top: 48px;
}

input.command-menu-input, .command-input-placeholder-wrapper {
  position: relative;
  border: none;
  outline: none;
  height: 60px;
  width: 100%;

  font-size: 20px;
  line-height: 60px;
  font-family: "Source Code Pro", "Roboto mono", "Courier New", monospace;
}

input.command-menu-input {
  background-color: transparent;
  z-index: 2;
  padding: 0 3rem;
  font-weight: 500;
}

input.command-menu-input[disabled] {
  opacity: 1;
}

.command-input-placeholder-wrapper {
  background-color: #F6F6F6;
}

.command-input-placeholder-wrapper[disabled] {
  background-color: transparent;
}

.command-input-placeholder-wrapper::after {
  content: attr(data-placeholder);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  padding: 0 3rem;
  color: #9B9B9B;
  font-weight: 400;
}

.command-item {
  padding: 3rem;

  cursor: pointer;
}

.command-item-selected {
  background-color: #F6F6F6;
}

.command-help a {
  display: block;
}
