/***
  Profile
***/

.profile-banner {
  background-color: #4635F5;
}

.profile-avatar img {
  width: 300px;
  height: 300px;
}

.profile-shipname {
  display: flex;
  align-items: center;

  color: white;
  font-size: 28px;
  font-weight: 600;
  height: 64px;
  font-family: "Source Code Pro", "Roboto mono", "Courier New", monospace;
}

.profile-message-btn {
  background: white;
  display: inline-block;
}
