ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 0;
}

/***
  Shapes
***/

.panini {
  border-top: 12px solid #D8D8D8;
  border-bottom: 12px solid #D8D8D8;
  height: 36px;
  width: 36px;
}

.liang {
  border-radius: 100%;
  width: 9rem;
  height: 9rem;
  border: 3rem solid #9B9B9B;
}

.cross {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;

  border-color: red;
}

.cross:before {
  position: absolute;
  top: 7px;
  left: -12px;

  width: 35px;
  height: 35px;
  border-top: 10px solid black;
  border-color: inherit;
  transform: rotate(45deg);

  content: "";
}

.cross:after {
  position: absolute;
  top: 7px;
  left: 13px;

  width: 35px;
  height: 35px;
  border-top: 10px solid black;
  border-color: inherit;
  transform: rotate(-45deg);

  content: "";
}

/***
  Typography
***/

.text-gray {
  color: #9B9B9B;
}

/***
  Util
***/

.relative {
  position: relative;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

/***
  Form elements
***/

input, textarea {
  outline: none;
}

.select-dropdown select {
  padding: 12px;
}

.select-icon {
  position: relative;
  font-weight: 700;
  top: 12px;
  right: 12px;
}
