body, p, .text-body {
  font-size: 14px;
  line-height: 24px;
}

body {
  overflow: overlay; /* Prevents scroll bar from affecting width on Webkit/Blink browsers */
  font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p, .text-body {
  font-family: "San Francisco Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Typography */
h1 {
  font-size: 6rem; /* 24px */
}
h2 {
  font-size: 5rem; /* 20px */
}
h3 {
  font-size: 4rem; /* 20px */
}
h4 {
  font-size: 2rem;
}
ul.vanilla {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.vanilla li {
  padding: 0;
}

/* If <a> elements don't have hrefs, there's no pointer */
a {
  cursor: pointer;
}

a.vanilla {
  text-decoration: none;
}

a.hoverline:hover {
  text-decoration: underline;
}

form {
  margin: 0;
}

b {
  font-weight: 600;
}

/***
  Shapes
***/

.panini {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  height: 16px;
  width: 20px;
}

.liang {
  border-radius: 100%;
  width: 9rem;
  height: 9rem;
  border: 3rem solid #9B9B9B;
}

.cross {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
}

.cross:before, .cross:after {
  position: absolute;
  top: 5px;
  width: 20px;
  height: 20px;

  border-top: 4px solid black;
  border-color: inherit;

  content: "";
}

.cross:before {
  left: -8px;
  transform: rotate(45deg);
}

.cross:after {
  left: 6px;
  transform: rotate(-45deg);
}

.circle {
  padding: 0;
  border-width: 8px;
  height: 30px;
  width: 30px;

  position: relative;
  top: 3px;
}

.icon-text {
  position: relative;
  width: 16px;
  height: 16px;
  border: 5px #FFBF21 solid;
}

.icon-text-topic {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 9px;
  height: 9px;
  clip-path: polygon(50% 2.4%, 0% 38.8%, 19.1% 97.6%, 80.9% 97.6%, 100% 38.8%);
  background-color: white;
}

.icon-dm {
  height: 12px;
  width: 12px;
  background-color: #FD5331;
}

.icon-chat {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 5px #4330FC solid;

}

.icon-inbox {
  width: 15px;
  height: 12px;
  border-radius: 12px;
  background-color: black;
}

/***
  Typography
***/

.text-gray {
  color: #9B9B9B;
}

.text-black {
  color: black !important;
}

.red, .red * {
  color: #EE3124;
}

.timestamp {
  font-size: 9px;
  font-family: "Source Code Pro", "Roboto mono", "Courier New", monospace;
  font-weight: 300;
}

/***
  Utils
***/

.flex {
  display: flex;
}

.inline-block {
  display: inline-block;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.relative {
  position: relative;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

/***
  Forms
***/

input[type="text"], textarea, label {
  font-size: 14px;
  line-height: 24px;

  border: none;
  outline: none;
  padding: 0;

  font-family: "San Francisco Text", arial;
}

input[disabled], label[disabled], select[disabled], textarea[disabled], button[disabled], .select-dropdown[disabled] {
  opacity: .4;
  border-color: #aaa;
}

input.input-sm {
  font-size: 3rem;
  padding: 6px;
  border-width: 1px;
}

label {
  margin-bottom: 2rem;
}

.input-group {
  padding: 10px;
}

.input-group label {
  font-size: 14px;
  font-weight: 600;
}

.btn {
  margin-bottom: 0;
}

.btn-spinner {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
}

.btn-spinner::after {
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: 0;
  content: "◠";
  animation: a linear 1s infinite;
  font-size: 10px;
  line-height: 10px;
}

.btn-spinner-lg {
  font-size: 32px;
  font-weight: bold;
  color: #4330FC;
}

.btn-text {
  padding: 0;
  background-color: inherit;
}
