@import 'icons.css';

body, p, .text-body {
  font-size: 14px;
  line-height: 24px;
}

body {
  overflow: overlay; /* Prevents scroll bar from affecting width on Webkit/Blink browsers */
  font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p, .text-body {
  font-family: "San Francisco Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul.vanilla {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.vanilla li {
  padding: 0;
}

/* If <a> elements don't have hrefs, there's no pointer */
a {
  cursor: pointer;
}

a.vanilla {
  text-decoration: none;
}

a.hoverline:hover {
  text-decoration: underline;
}

form {
  margin: 0;
}

b {
  font-weight: 600;
}

[class*=col-] {
  margin-bottom: 0;
}

/***
  Shapes
***/

.circle {
  padding: 0;
  border-width: 8px;
  height: 30px;
  width: 30px;

  position: relative;
  top: 3px;
}

/***
  Typography
***/

h5,
.h5 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 5rem;
  margin: 1rem 0; }

.text-gray, .text-gray * {
  color: #9B9B9B;
}

.text-black, .text-black * {
  color: black !important;
}

.text-red, .text-red * {
  color: #EE3124;
}

.text-squat, .text-squat * {
  font-size: 16px;
  line-height: 20px;
}

.timestamp {
  font-size: 9px;
  font-family: "Source Code Pro", "Roboto mono", "Courier New", monospace;
  font-weight: 300;
}

/***
  Utils
***/

.flex {
  display: flex;
}

.inline-block {
  display: inline-block;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.relative {
  position: relative;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

/***
  Forms
***/

input[type="text"], textarea, label {
  font-size: 14px;
  line-height: 24px;

  border: none;
  outline: none;
  padding: 0;

  font-family: "San Francisco Text", arial;
}

input[disabled], label[disabled], select[disabled], textarea[disabled], button[disabled], .select-dropdown[disabled] {
  opacity: .4;
  border-color: #aaa;
}

input.input-sm {
  font-size: 3rem;
  padding: 6px;
  border-width: 1px;
}

label {
  margin-bottom: 2rem;
}

.input-group {
  padding: 10px;
}

.input-group label {
  font-size: 14px;
  font-weight: 600;
}

.btn {
  margin-bottom: 0;
}

.btn-spinner {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
}

.btn-spinner::after {
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: 0;
  content: "◠";
  animation: a linear 1s infinite;
  font-size: 10px;
  line-height: 10px;
}

.btn-spinner-lg {
  font-size: 32px;
  font-weight: bold;
  color: #4330FC;
}

.btn-text {
  padding: 0;
  background-color: inherit;
}
