body {
  padding-bottom: 40px;
}

.header-container {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.header-title, .header-title * {
  text-decoration: none;
  font-weight: 500;
  font-family: "Source Code Pro", "Roboto mono", "Courier New", monospace;

  margin: 0;
  font-size: 24px;
  line-height: 48px;
}

.header-link {
  font-size: 3rem;
  line-height: 3rem;

  font-weight: 500;
  text-decoration: none;

  text-transform: capitalize;
}

.header-link-breadcrumb, .header-link-breadcrumb * {
  line-height: 6rem;
  text-transform: none;
  text-decoration: none;

  font-weight: 400;
  font-family: "Source Code Pro", "Roboto mono", "Courier New", monospace;
}

.sidebar {
  position: absolute;
  right: 24rem;
  top: 48rem;
}

/*
  Grid?

  We're kind of using this as a grid. More explanation later.
*/

.header-icon-menu {
  flex-basis: 106px;
  /** Design calls for
    flex-basis: 98px;
  **/
}

.header-icon-page {
  flex-basis: 52px;
  /** Design calls for
    flex-basis: 44px;
  **/
}

.header-title {
  flex-grow: 1;
}
