body {
  padding-bottom: 40px;
}

.header-container {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.header-title, .header-title * {
  text-decoration: none;
  font-weight: 600;

  margin: 0;
  font-size: 24px;
  line-height: 48px;
}

.header-title-mono, .header-title-mono * {
  font-weight: 500;
  font-family: "Source Code Pro", "Roboto mono", "Courier New", monospace;
}

.header-link {
  font-size: 3rem;
  line-height: 3rem;

  font-weight: 500;
  font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;

  text-transform: capitalize;
}

.header-link-breadcrumb, .header-link-breadcrumb * {
  line-height: 6rem;
  text-transform: none;
  text-decoration: none;

  font-weight: 400;
  font-family: "Source Code Pro", "Roboto mono", "Courier New", monospace;
}

.header-breadcrumbs {
  height: 24px;
  margin-bottom: 0;
}

.header-mainrow {
  position: relative;
}

.page-status {
  position: absolute;
  left: 0;
  top: 94px;

  border-radius: 100%;
  height: 18px;
  width: 18px;

  background-color: #999;
}

.page-status::after {
  content: "";
  background-color: #ccc;
  width: 18px;
  height: 18px;
  position: absolute;
  border-radius: 100%;
  clip: rect(0, 18px, 18px, 9px);

  animation: spin 2s linear infinite;
}

.page-status-primary {
  background-color: #4330FC;
}

.page-status-primary::after {
  background-color: #d8d5fe;
}

.page-status-secondary {
  background-color: #6fdc74;
}

.page-status-secondary::after {
  background-color: #e2f8e3;
}

.page-status-tertiary {
  background-color: #EE3124;
  cursor: pointer;
}

.page-status-tertiary::after {
  background-color: #FBD5D3;
  cursor: pointer;
}

.page-status-tertiary::before {
  position: absolute;
  top: 24px;
  color: red;
  content: "retry";
  font-family: "Source Code Pro";
  text-decoration: underline;
  cursor: pointer;
}

.page-status-quaternary {
  background-color: #FD7A31;
}

.page-status-quaternary::after {
  background-color: #FEBC98;
}

.sidebar {
  position: absolute;
  right: 24rem;
  top: 48rem;
}

/*
  Grid?

  We're kind of using this as a grid. More explanation later.
*/

.flex-1st {
  flex-basis: 106px;
}

.flex-2nd {
  flex-basis: 52px;
}

.flex-3rd {
  flex-basis: 0;
  flex-grow: 1;
}
