body {
  padding-bottom: 40px;
}

[urb-component-header] {
  line-height: 40px;
}

.header-container {
  padding-top: 1rem;
  border-bottom: 1px solid #E6E6E6;
}

.header-container h3 a {
  text-decoration: none;
}

.header-link {
  font-size: 3rem;
  line-height: 3rem;

  font-weight: 500;
  text-decoration: none;
}

.sidebar {
  position: absolute;
  right: 24rem;
  top: 48rem;
}

.timestamp {
  font-size: 9px;
  font-family: "Source Code Pro", "Roboto mono", "Courier New", monospace;
  font-weight: 300;
}

.circle {
  padding: 0;
  border-width: 8px;
  height: 30px;
  width: 30px;

  position: relative;
  top: 3px;
}

/**
  Keyframes
**/

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
