/***
  Inbox
***/

.inbox-feed {
  height: 10rem;
  position: relative;
  top: 1px;
}

.inbox-page .icon {
  position: relative;
  left: 10px;
  top: 5px;
}

.inbox-page .timestamp {
  position: relative;
  left: 6px;
}

.inbox-page img {
  width: 100%;
}

/***
  Edit
***/

.page-notes-edit textarea {
  border: none;
  height: 800px;
}

.page-notes-index h1 {
  margin-top: 0;
}

.notes-actions .btn-secondary {
  margin-right: 10rem;
}

.note-timestamp {
  position: absolute;
  left: -16rem;
  top: 3rem;
}

.notes-blurbs {
  margin-top: 8rem;
}

.notes-blurbs li {
  display: flex;
  position: relative;
  margin: 4rem 0;
}

.create-stream-page .plus, .create-stream-page .minus {
  font-size: 28px;
  font-weight: 700;
  cursor: pointer;
}

.create-stream-page .plus {
  line-height: 41px;
}

.create-stream-page .input-group i {
  padding-top: 2rem;
}

.create-stream-page textarea {
  border: 6px solid black;
}

.create-stream-page input[type="text"] {
  border: 3px solid black;
}

.create-stream-page input[type="text"].input-text-lg {
  border: 6px solid black;
  font-size: 9rem;
  line-height: 18rem;
  padding: 0 4rem;
}

.create-stream-page label {
  font-size: 6rem;
  line-height: 9rem;
  font-weight: 500;
}

.create-stream-page .input-group-radio label {
  padding-top: 0;
  height: 18rem;
  width: 38rem;
  font-size: 9rem;
  line-height: 18rem;
  text-align: center;
}

/**
  Chat
**/

/* .chat-container {
  overflow-y: auto;
  height: calc(100vh - 136px);
} */

/* TODO: This is probably bad */
.chat-container .col-sm-2 {
  flex-basis: 43rem;
  max-width: 43rem;
}

.chat-input-field[type="text"] {
  border: none;
  padding: 0;
  line-height: 6rem;
}

.chat-input-field:placeholder {
  color: #B0B0B0;
}

.chat-sep {
  text-align: center;
  font-weight: 600;
  margin: 4rem;
}

.chat-msg-app, .chat-msg-app * {
  color: #9B9B9B;
}

.cir-status {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;

  display: inline-block;
  position: relative;
  bottom: 1px;
}

.cir-green {
  background-color: #8EEE9C;
}

.cir-grey {
  background-color: #B0B0B0;
}

.cir-black {
  background-color: #B0B0B0;
}

.cir-red {
  background-color: #FF4444;
}

.chat-scrollpane-view {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
}

.chat-scrollpane img {
  width: 100%;
}

.chat-scrollpane-view > * {
  flex-shrink: 0;
}

.chat-scrollpane-view > :first-child {
    margin-top: auto !important;
    /* use !important to prevent breakage from child margin settings */
}

.scrollpane {
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
}

.scrollpane > * {
  flex-shrink: 0;
}

.scrollpane > :first-child {
    margin-top: auto !important;
    /* use !important to prevent breakage from child margin settings */
}

/**
  Collections
**/

textarea.post-edit
{
  height: 80%;
  border: none;
  resize: none;
  padding: 8rem 12rem;
}

textarea.comment-edit
{
  border: none;
  resize: none;
  padding: 0;
}

.create-comment button.disabled
{
  display: none;
}

.create-comment .usership
{
  color: #000;
}

div.coll-title
{
  font-size: 6rem;
}
div.mod
{
  font-size: 6rem;
}

.collection-index li.forum .meta-cont > div
{
  float: left;
}

.collection-index li.notes .da {
  position: absolute;
  margin-left: -12rem;
  margin-top: 1rem;
}

.collection-index .note-uuid {
  font-weight: inherit;
}

.collection-index img {
  width: 100%;
}

.collection-index ul {
  list-style-type: none;
}

.post img {
  width: 100%;
}

.post #edit
{
  display: none;
}

.profile li.profile::before {
  content: "•";
  position: absolute;
  font-size: 10rem;
  margin-left: -12rem;
  margin-top: 4rem;
}

/**/

.collection-date {
  font-family: "Source Code Pro", "Roboto mono", "Courier New", monospace;
  font-weight: 300;
  font-size: 3rem;
  line-height: 3rem;
}

.collection-title {
  position: relative;
}

.collection-post::before, .collection-title::before {
  content: "";
  background-color: #0A7960;
  border-radius: 1px;

  width: 2rem;
  height: 2rem;

  position: absolute;
}

.collection-post::before {
  margin-top: 30px;
  margin-left: -11rem;
}

.collection-title::before {
  margin-top: 22px;
  margin-left: -10rem;
}

.collection-post h3 {
  font-weight: 500;
  margin: 1rem 0 3rem;
}

.collection-text, .snippet p {
  font-size: 14px;
  line-height: 24px;

  font-family: "San Francisco Text", arial;
}

.collection-post-page {
  padding-top: 12rem;
}

.collection-comment {
  margin-bottom: 11rem;
  position: relative;
}

.collection-comment-avatar {
  position: absolute;
  margin-left: -10rem;
  content: "hi!"
}

.collection-comment-author {
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  font-weight: 700;
}

/***
  Menu
***/

.menu-page {
  margin-top: 48px;
}

.menu-page .cross {
  cursor: pointer;
}

.menu-anchor {
  display: flex;
  align-items: center;

  text-decoration: none;
}

.menu-canvas {
  position: absolute;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: white;
}

.menu-canvas .cross,
.menu-canvas .cross:before,
.menu-canvas .cross:after, {
  border-color: red !important;
}

/***
  List
***/

.list-page a {
  text-decoration: none;
}
