.page-notes-edit textarea {
  border: none;
  height: 800px;
}

.page-notes-index h1 {
  margin-top: 0;
}

.notes-actions .btn-secondary {
  margin-right: 10rem;
}

.note-timestamp {
  position: absolute;
  left: -16rem;
  top: 3rem;
}

.notes-blurbs {
  margin-top: 8rem;
}

.notes-blurbs li {
  display: flex;
  position: relative;
  margin: 4rem 0;
}

.menu-canvas {
  position: absolute;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: white;
}

.menu-canvas .cross,
.menu-canvas .cross:before,
.menu-canvas .cross:after, {
  border-color: red !important;
}

.create-stream-page.container {
  /* max-width: 600px; */
}

/**
  Chat
**/

/* .chat-container {
  overflow-y: auto;
  height: calc(100vh - 136px);
} */

/* TODO: This is probably bad */
.chat-container .col-sm-2 {
  flex-basis: 43rem;
  max-width: 43rem;
}

.chat-input-field[type="text"] {
  border: none;
  padding: 0;
  line-height: 6rem;
}

.chat-input-field:placeholder {
  color: #B0B0B0;
}

.chat-sep {
  text-align: center;
  font-weight: 600;
  margin: 4rem;
}

.chat-msg-app, .chat-msg-app * {
  color: #9B9B9B;
}

.chat-members {
  position: absolute;
  right: 24rem;
  top: 48rem;
}

.cir-status {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;

  display: inline-block;
  position: relative;
  bottom: 1px;
}

.cir-green {
  background-color: #8EEE9C;
}

.cir-grey {
  background-color: #B0B0B0;
}

.cir-black {
  background-color: #B0B0B0;
}

.cir-red {
  background-color: #FF4444;
}
