@import 'pages/chat.css';
@import 'pages/collection.css';
@import 'pages/collection-create.css';
@import 'pages/command.css';
@import 'pages/profile.css';

/***
  Inbox
***/

.inbox-page .icon {
  position: relative;
  left: 10px;
  top: 5px;
}

.inbox-page .timestamp {
  position: relative;
  left: 6px;
}

.inbox-page img {
  width: 100%;
}

.inbox-page .invite .btn {
  float: right;
}

.inbox-page .collection-preview h1:nth-child(1) {
  display: none;
}

/***
  List
***/

.list-page a {
  text-decoration: none;
}
